general {
        colors = true
        interval = 5
        color_good = "#D5C4A1"
        color_bad = "#83A598"
        color_degraded = "#FB4934"
}

order += "cpu_usage"
order += "memory"
order += "load"
order += "disk /"
order += "tztime local"

cpu_usage {
       format = "cpu: %usage"
}

load {
        format = "load: %1min"
        # max_threshold = 0.3
}

disk "/" {
        format = "hdd: %avail"
}

memory {
        format = "mem: %used/%available"
        threshold_degraded = "1G"
        format_degraded = "MEMORY < %available"
}

tztime local {
        format = "%Y-%m-%d %H:%M"
        timezone = "Europe/Bucharest"
}
